<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Charts &amp; Stats</h3>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Blood Pressure <span class="semi-bold">Chart</span> (Latest)</h3>
            <p>Showing the latest Blood Pressure reading</p>
            <br>
            <flotchart ng-model='latestBloodPressureData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Blood Pressure <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend of Blood Pressure over the current week</p>
            <br>
            <flotchart ng-model='currentWeekBloodPressureData'></flotchart>
          </div>
        </div>
      </div>
    </div>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Water-Intake <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in water intake on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekWaterIntakeData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
      </div>
    </div>



  </ion-content>
</ion-view>
