<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">My&nbsp;<span class="semi-bold">Journal</span></h3>

    <div style="margin:10px;">

      <div>
        <div class="tiles white" style="padding:15px;">
          <textarea rows="3" class="form-control user-status-box" placeholder="How are you feeling today?" ng-model="Journal.JSUMMARY" style="border: 1px solid #E5E9EC;"></textarea>
        </div>
        <div class="tiles grey padding-10">
          <div class="pull-left text-black">
            <div class="file-input-wrapper">
              <button class="btn btn-primary btn-sm btn-small btn-file-input">Add Media</button>
              <input type="hidden" value="PAT100" id="patientid" name="patientid">
              <input type="file" accept="image/*" id="photo" name="photo" capture="camera">
              <input type="hidden" value="" id="dayofpregnancy" name="dayofpregnancy">
            </div>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="createJournal()">Save</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <ul class="cbp_tmtimeline">
        <li ng-repeat="journal in journalData">
          <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-quote-left"></i></div>
          <div class="cbp_tmlabel">
            <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
              <h4 class="inline m-b-5"><span class="text-success semi-bold">Jane smith</span> </h4>
              <h5 class="inline muted semi-bold m-b-5">@johnsmith</h5>
              <div class="muted">{{journal.TIME_RECORDED | date : 'fullDate' }}</div>
              <p class="m-t-5 dark-text" ng-show="journal.JSUMMARY != ''">{{journal.JSUMMARY}}</p>
            </div>
            <div class="m-l-10 m-r-10 xs-m-l-5 xs-m-r-5" ng-show="journal.PHOTO != ''">
              <img src="img/journal/{{journal.PHOTO}}" style="width:100%" alt="">
            </div>
            <div class="clearfix"></div>
            <div class="xs-p-r-10 xs-p-l-10 p-l-30 p-r-20 p-b-10 p-t-20 row"></div>
            <div class="tiles grey p-t-10 p-b-10 p-l-20">
                <button class="btn btn-success" ng-model="shareitem" ng-click="shareItem('{{journal.JSUMMARY}}','My journal entry  {{journal.TIME_RECORDED | date : 'fullDate' }} ','www/img/journal/{{journal.PHOTO}}','{{journal.JSUMMARY}}')">SHARE</button>
                <ul class="action-links">
               
            </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </li>
      </ul>


    </div>

  </ion-content>
</ion-view>
