<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding=true>
  
    <h3>NearBy <span class="semi-bold">Hospitals</span></h3>
      <app-map style="height:400px;margin:12px;box-shadow:0 3px 25px black;"
		center="basel"
		zoom="15"
		markers="whoiswhere"
		> 
	</app-map>
          <!-- div ng-model="map" id="google_map" style="width:100%;height:420px;"></div -->
      
</ion-content>
</ion-view>
