<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding=true>
    <h3>About Doula Room</h3>

    <div style="padding:15px;background-color:#fff;">
      <h4>Version Information</h4>
      <ul class="sub-menu">
          <li> <a >Version 1.7.0</a> </li>
      </ul>
      <h4>Copyright Information</h4>
      <ul class="sub-menu">
          <li> <a>Healthcare EQ All Rights Reserved</a> </li>
      </ul>
      <ul class="sub-menu">
          <li> <img src = "/img/logo/hceq.png"> </li>
      </ul>
        
    </div>

  </ion-content>
</ion-view>
