<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">My <span class="semi-bold">Calendar</span></h3>
    <div style="padding:15px;margin:10px;background-color:#fff;">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" name="t" id="t">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Location</span>
          <input type="text" name="l" id="l">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Notes</span>
          <input type="email" name="n" id="n">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Start Date</span>
          <input type="date" name="sdate" id="sdate" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">End Date</span>
          <input type="date" name="edate" id="edate" />
        </label>
      </div>
    </div>

    <button class="btn btn-primary btn-sm" onclick="showInput(t.value,l.value,n.value,sdate.value,edate.value)">
      Add Event
    </button>
   

  </ion-content>
</ion-view>
