<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Charts &amp; Stats</h3>
    
    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Blood Pressure <span class="semi-bold">Chart</span> (Latest)</h3>
            <p>Showing the latest Blood Pressure reading</p>
            <br>
            <flotchart ng-model='latestBloodPressureData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Blood Pressure <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend of Blood Pressure over the current week</p>
            <br>
            <flotchart ng-model='currentWeekBloodPressureData'></flotchart>
          </div>
        </div>
      </div>
    </div>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Water-Intake <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in water intake on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekWaterIntakeData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Heart Rate <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in heart rate on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekHeartRateData'></flotchart>
          </div>
        </div>
      </div>
    </div>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Weight <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in weight on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekWeightData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Steps <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in steps on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekStepsData'></flotchart>
          </div>
        </div>
      </div>
    </div>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Active Minutes <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in active minutes on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekActiveMinutesData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Calories <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in calories on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekCaloriesData'></flotchart>
          </div>
        </div>
      </div>
    </div>




  </ion-content>
</ion-view>
