<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Complications</h3>

    <div style="margin:10px;padding:15px;background-color:#fff;">
      <p>See our comprehensive information on more than a dozen common pregnancy complications. Find out what causes these problems, who's at risk for them, how they're diagnosed and managed, and what the consequences may be for you and your baby. </p>
      <ul>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_7-pregnancy-complications-to-watch-out-for_10316818.bc', '_blank', 'location=yes')" >7 pregnancy complications to watch out for</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_black-women-and-pregnancy-fibroids_10326261.bc', '_blank', 'location=yes')" >Black women and pregnancy: Fibroids</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_black-women-and-pregnancy-high-blood-pressure_10326262.bc', '_blank', 'location=yes')">Black women and pregnancy: High blood pressure</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_cervical-insufficiency-incompetent-cervix_1425796.bc', '_blank', 'location=yes')">Cervical insufficiency (incompetent cervix)</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_chronic-hypertension-during-pregnancy_1427404.bc', '_blank', 'location=yes')">Chronic hypertension during pregnancy</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_ectopic-pregnancy_229.bc', '_blank', 'location=yes')">Ectopic pregnancy</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_excessive-amniotic-fluid-polyhydramnios_1200199.bc', '_blank', 'location=yes')">Excessive amniotic fluid (polyhydramnios)</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_false-labor_491.bc', '_blank', 'location=yes')">False labor</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_gestational-diabetes_2058.bc', '_blank', 'location=yes')">Gestational diabetes</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_gestational-diabetes-tips-for-making-daily-glucose-tests-eas_10346391.bc', '_blank', 'location=yes')">Gestational diabetes: Tips for making daily glucose tests easier</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_gestational-hypertension-pregnancy-induced-hypertension_1427402.bc', '_blank', 'location=yes')">Gestational hypertension (pregnancy-induced hypertension)</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_hyperemesis-gravidarum_10376363.bc', '_blank', 'location=yes')">Hyperemesis gravidarum</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_intrauterine-growth-restriction-iugr_1427406.bc', '_blank', 'location=yes')">Intrauterine growth restriction (IUGR)</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_iron-deficiency-anemia-in-pregnancy_3073.bc', '_blank', 'location=yes')">Iron-deficiency anemia in pregnancy</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/gestational-diabetes', '_blank', 'location=yes')">Living with gestational diabetes</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_low-amniotic-fluid-oligohydramnios_1199460.bc', '_blank', 'location=yes')">Low amniotic fluid (oligohydramnios)</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_placenta-previa_830.bc', '_blank', 'location=yes')">Placenta previa</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_placental-abruption_1425791.bc', '_blank', 'location=yes')">Placental abruption</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_preeclampsia_257.bc', '_blank', 'location=yes')">Preeclampsia</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_preterm-labor-and-birth_1055.bc', '_blank', 'location=yes')">Preterm labor and birth</a>
          </li>
          <li>
              <a onclick="window.open('http://www.babycenter.com/0_traditional-hispanic-beliefs-and-myths-about-pregnancy_3653769.bc', '_blank', 'location=yes')">Traditional Hispanic beliefs and myths about pregnancy</a>
          </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
