<ion-view title="DoulaRoom">

    <ion-content class="has-header" padding="true">

    <h3 style="padding:10px;margin:0;">Our Daily Progress</h3>

        <div class="row responsive-sm responsive-md">

            <div class="col single-colored-widget">
                <div class="content-wrapper red">
                    <div class="pull-right">
                        <div class="pull-right">
                            <button style="border:none; color:white;" id="icon-rotate" class="icon-repeat fa-3x custom-icon-space fa fa-plus-square" ng-click="weightModal.show()"></button>
                        </div>
                        <div class="pull-right">
                            <a href="#/app/weight-chart/{{patientData.PATIENTID}}">
                                <button style="border:none; color:white;" class="icon-repeat fa-3x custom-icon-space fa fa-bar-chart-o"></button>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h3 class="text-white">We are <span class="semi-bold">Growing!</span></h3>
                    <p>Yesterday's Weight: {{weightData.yesterday.RESULT}} {{weightData.yesterday.UNIT_OF_MEASURE}} </p>
                    <p>Total Weight Gained: {{weightData.latest.RESULT - patientData.WEIGHT}} {{weightData.latest.UNIT_OF_MEASURE}} </p>
                    <div class="pull-left">
                        <h2 class="text-white">
                            NOW
                            <span class="semi-bold"> {{weightData.latest.RESULT}} </span>
                            <span class="text-white-opacity"> {{weightData.latest.UNIT_OF_MEASURE}} </span>
                        </h2>
                    </div>
                    <div class="pull-right"><i class="fa fa-tachometer fa fa-6x" id="animate-icon"></i></div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col single-colored-widget">
                <div class="content-wrapper green">
                    <div class="pull-right">
                        <div class="pull-right">
                            <button style="border:none; color:white;" id="icon-rotate" class="icon-repeat fa-3x custom-icon-space fa fa-plus-square" ng-click="bloodPressureModal.show()"></button>
                        </div>
                        <div class="pull-right">
                            <a href="#/app/blood-pressure-chart/{{patientData.PATIENTID}}">
                                <button style="border:none; color:white;" class="icon-repeat fa-3x custom-icon-space fa fa-bar-chart-o"></button>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h3 class="text-white"><span class="semi-bold">My Blood</span>Pressure</h3>
                    <!--p>Your BP reading for {{bloodPressure.TIME_RECORDED }}<br />{{bloodPressure.objectId }}</p -->
                    <br>
                    <div class="pull-right"> <i class="fa fa-heart fa fa-6x custom-icon-space" id="icon-resize"></i></div>
                    <h1 class="text-white">
                        <sup>{{bloodPressure.RESULT.split("/")[0]}}</sup>&frasl;<sub>{{bloodPressure.RESULT.split("/")[1]}}</sub>
                        <small class="text-white-opacity">{{bloodPressure.UNIT_OF_MEASURE}}</small>
                    </h1>
                    <h4 class="pull-left text-white">
                        Heart Rate:<span class="semi-bold">&nbsp;{{heartRate.RESULT}}</span>
                        <small class="text-white-opacity">{{heartRate.UNIT_OF_MEASURE}}</small>
                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col single-colored-widget">
                <div class="content-wrapper blue">
                    <div class="pull-right">
                        <div class="pull-right">
                            <button style="border:none; color:orange;" id="icon-rotate" class="icon-repeat fa-3x custom-icon-space fa fa-plus-square" ng-click="waterIntakeModal.show()"></button>
                        </div>
                        <div class="pull-right">
                            <a href="#/app/water-intake-chart/{{patientData.PATIENTID}}">
                                <button style="border:none; color:white;" class="icon-repeat fa-3x custom-icon-space fa fa-bar-chart-o"></button>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h3 class="text-white"><span class="semi-bold">Cheers!</span>My Water Intake</h3>
                    <div class="pull-right">
                        <h3 class="text-white ">Amount {{waterData.RESULT}} {{waterData.UNIT_OF_MEASURE}}</h3>
                    </div>
                    <div class="pull-left"><i class="icon-repeat fa-6x custom-icon-space fa fa-tint" id="icon-rotate"></i></div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="progress progress-striped active progress-large">
                        <div data-percentage="0%" style="width:{{waterData.intakeAmount}}%;" class="progress-bar progress-bar-success"></div>
                    </div>
                    <div class="pull-right">
                        <h2 id="ex6CurrentSliderValLabel" class="pull-left text-white"></h2>
                        <h3 class="text-white">
                            <span class="semi-bold">Goal {{waterData.glasses}} Glasses today</span>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <!-- end of row -->


        <div class="row responsive-sm responsive-md">

            <div class="col single-colored-widget">
                <div class="content-wrapper orange">
                    
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="#/app/vitamins_intake/{{patientData.PATIENTID}}">
                                    <button style="border:none; color:white;" class="icon-repeat fa-3x custom-icon-space fa fa-bar-chart-o"></button>
                                </a>
                            </div>
                            <div class="pull-right">
                                <h3 class="text-white vitamins">My Vitamins<span class="semi-bold">Today</span></h3>
                            </div>
                        </div>
                        <div style="margin:20px 0;">
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="checkbox check-primary">
                                <input id="prenatal" name="prenatal" type="checkbox">
                                <label for="prenatal" class="text-white">Prenatal<br><small>Taken at the Recommendation of a Medical Professional</small></label>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="checkbox check-primary">
                                <input id="iron" name="iron" type="checkbox">
                                <label for="iron" class="text-white">Iron<br><small></small>Taken at the Recommendation of a Medical Professional</small></label>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="checkbox check-primary">
                                <input id="folicAcid" name="folicAcid" type="checkbox">
                                <label for="folicAcid" class="text-white">Folic Acid<br><small>Taken at the Recommendation of a Medical Professional</small></label>
                            </div>
                        </div>
                        <input type="hidden" id="patientida" name="patientida" value="PAT100">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-sm btn-small" type="submit" id="confirm">Confirm</button>
                        </div>
                        <div class="clearfix"></div>
                </div>
            </div>


            <div class="col single-colored-widget">
                <div class="content-wrapper" style="background-color: #32cd32;">
                    <div class="pull-right">
                        <a href="#/app/fit-charts/{{patientData.PATIENTID}}">
                            <img class="mini-logo" src="img/footsteps.png" data-src="img/footsteps.png" data-src-retina="img/footsteps.png">
                        </a>
                        <br>
                    </div>

                    <h3 class="text-white">My<span class="semi-bold">Activities</span></h3>
                    <h5 class="text-white">MY<span class="semi-bold">DAILY STEPS</span></h5>
                    <h1 class="text-white"><span class="semi-bold">{{stepsData.RESULT}}</span></h1>
                    <div class="clearfix"></div>
                </div>
            </div>
         
                <div class="col single-colored-widget" ng-show="showKicks">
                        <div class="content-wrapper purple">
                            <div class="pull-right">
                                <div class="pull-right">
                                    <button style="border:none; color:white;" id="icon-rotate" class="icon-repeat fa-3x custom-icon-space fa fa-plus-square" ng-click="babyKicksModal.show()"></button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <h3 class="text-white">My Baby's<span class="semi-bold">Activity</span></h3>
                            <div class="pull-left">
                                <h3 class="text-white">
                                    KICKS
                                    <span class="semi-bold">Today</span>
                                    <span class="semi-bold">{{kicksData.RESULT}}</span>
                                </h3>
                            </div>
                            <div class="pull-right"> <i class="icon-repeat fa-6x custom-icon-space fa fa-users" id="icon-rotate"></i></div>
                            <div class="clearfix"></div>
                        </div>                 
                </div>
           

                <div class="col single-colored-widget" ng-show="showMoves">
                        <div class="content-wrapper purple">
                            <div class="pull-right">
                                <div class="pull-right">
                                    <button style="border:none; color:white;" id="icon-rotate" class="icon-repeat fa-3x custom-icon-space fa fa-plus-square" ng-click="movesModal.show()"></button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <h3 class="text-white">Did baby<span class="semi-bold">move today?</span></h3>
                            <div class="pull-left">
                                <h3 class="text-white">

                                    <span class="semi-bold">Today: </span>
                                    <span class="">{{movesData.RESULT}}</span>
                                </h3>
                            </div>
                            <div class="pull-right"> <i class="icon-repeat fa-6x custom-icon-space fa fa-users" id="icon-rotate"></i></div>
                            <div class="clearfix"></div>
                        </div>       
                </div>
    


        </div>


        <div class="row responsive-sm responsive-md">

            <div class="col single-colored-widget">
                <a href="#" class="link-charts">
                    <div class="content-wrapper green">
                        <div class="pull-right">
                            <div class="pull-right">
                                <a href="" id="icon-rotate" class="link-discomfort icon-repeat fa-2x custom-icon-space fa fa-arrow-right text-white"></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h3 class="text-white">Discomfort<span class="semi-bold">Felt</span></h3>

                        <div class="pull-left" ng-app="doularoom.controllers.dashboard" ng-controller="DashboardCtrl">

                            <div class="checkbox check-primary" ng-repeat="symptom in symptomsData">
                                <input id="symptom{{$index}}" name="symptom" type="checkbox" checklist-model="symptoms.symptomsData" checklist-value="symptom.TYPE">
                                <label for="symptom{{$index}}" class="text-white">{{symptom.TYPE}}</label>
                            </div>
                            <!-- span class="text-white"> symptoms.symptomsData :  {{ symptoms.symptomsData | json }} </span -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>

            <div class="col single-colored-widget">
                <div class="content-wrapper pink">
                    <div class="pull-right">
                        <div class="pull-right">
                            <img class="mini-logo" src="img/soundwave.gif" width="80" height="50" style="border:none">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h3 class="text-white">Record Baby's<span class="semi-bold">Heartbeat</span></h3>
                    <div class="pull-left">
                        <button type="button" class="btn btn-success" ng-model="recordAudio" ng-click="recordAudio()" style="background-color:transparent; border:none">
                            <img src="img/record_icon.png" />
                        </button>

                        <button type="button" name="playheartBeat" value="playheartBeat" style="background-color:transparent; border:none" onclick="alert('heartbeat Played');">
                            <img class="heart beat" src="img/play_icon.png" />
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col"></div>

        </div>

    </ion-content>
</ion-view>