<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Devices</h3>

    <div style="padding:15px;margin:10px;background-color:#fff;">
      <button class="btn btn-block btn-primary" ng-click="scanDevices()">Scan for Devices</button>
      <button class="btn btn-block btn-primary" ng-click="listPairedDevices()">List Paired Devices</button>
      <button class="btn btn-block btn-primary" ng-click="forgetPairedDevices()">Forget Paired Devices</button>
    </div>

  </ion-content>
</ion-view>
