<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Steps, Active Minutes &amp; Calories <span class="semi-bold">Charts</span></h3>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Steps <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in steps on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekStepsData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Calories <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in calories on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekCaloriesData'></flotchart>
          </div>
        </div>
      </div>
    </div>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <h3 style="margin-top:10px;">Active Minutes <span class="semi-bold">Chart</span> (Daily)</h3>
            <p>Showing the trend in active minutes on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekActiveMinutesData'></flotchart>
          </div>
        </div>
      </div>

      <div class="col">
      </div>
    </div>




  </ion-content>
</ion-view>
