<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Galleries</h3>

    <div style="padding:15px;margin:10px;background-color:#fff;">

      <accordion close-others="oneAtATime">
        <accordion-group heading="{{gallery.CATEGORYNAME}}" ng-repeat="gallery in galleriesData">
          <div class="row responsive-sm">
            <div class="col" ng-repeat="picture in gallery.pictures"><img src="img/GALLERY/{{picture.CATEGORY}}/{{picture.PHOTO}}" style="width:130px;"></div>
          </div>
        </accordion-group>
      </accordion>

    </div>

  </ion-content>
</ion-view>
