<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Galleries  <span class="semi-bold">Manage</span></h3>

    <div style="padding:15px;margin-bottom:15px;background-color:#fff;">
      <div class="clearfix" style="margin-bottom:20px;">
        <button class="btn btn-primary btn-sm pull-right" ng-click="addModal.show()">
          Add
        </button>
      </div>
      <div class="list">
        <div class="item" ng-repeat="gallery in galleriesData">
          <h3 class="pull-left" style="line-height:30px;font-weight:bold;">{{gallery.CATEGORYNAME}}</h3>
          <div class="pull-right">
            <a class="btn button-small btn-primary" ng-click="editGallery(gallery)">Edit</a>
            <a class="btn button-small btn-primary" ng-click="deleteGallery(gallery)">Delete</a>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
