<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Heart Rate <span class="semi-bold">Chart</span> (Daily)</h3>

    <div class="row responsive-md">
      <div class="col">
        <div class="grid simple">
          <div class="grid-body no-border">
            <p style="padding:10px 0;">Showing the trend in heart rate on a daily basis.</p>
            <br>
            <flotchart ng-model='currentWeekHeartRateData'></flotchart>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
