<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding=true>
    <h3>Helpful Links </h3>

    <div style="padding:15px;background-color:#fff;">
      <h4>Pregnancy</h4>
      <ul class="sub-menu">
          <li> <a onclick="window.open('http://www.babycenter.com/pregnancy-growing-baby-weeks-2-13', '_blank', 'location=yes')" >First Trimester</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/pregnancy-growing-baby-weeks-14-27', '_blank', 'location=yes')" >Second Trimester</a></li>
          <li> <a onclick="window.open('http://www.babycenter.com/pregnancy-growing-baby-weeks-28-40', '_blank', 'location=yes')" >Third Trimester</a></li>
          <li> <a onclick="window.open('http://www.babycenter.com/302_prenatal-care-tests_1514305.bc', '_blank', 'location=yes')" >Prenatal Care &amp Tests</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/302_symptoms-discomforts_1513073.bc', '_blank', 'location=yes')" >Symptoms &amp Discomforts</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/birth', '_blank', 'location=yes')" >Giving Birth</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/pregnancy', '_blank', 'location=yes')" >All Pregnancy Topics</a> </li>
      </ul>
      <h4>Popular</h4>
      <ul class="sub-menu">
          <li> <a onclick="window.open('http://www.babycenter.com/newly-pregnant', '_blank', 'location=yes')" >Newly Pregnant</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/fetal-development-week-by-week', '_blank', 'location=yes')" >Fetal Development Images</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/302_nutrition-weight_1513070.bc', '_blank', 'location=yes')" >Nutrition &amp Weight</a> </li>
          <li> <a onclick="window.open('/tracker', '_blank', 'location=yes')" >Health Problems</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/pregnancy-sleep', '_blank', 'location=yes')" > Sleep &amp Dreams</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/pregnancy-fitness', '_blank', 'location=yes')" >Fitness</a> </li>
          <li> <a onclick="window.open('http://www.babycenter.com/302_work-maternity-leave_1513017.bc', '_blank', 'location=yes')" >Work &amp Maternity Leave</a> </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
