<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">History</h3>

    <div style="padding:15px;margin-bottom:15px;background-color:#fff;">
      <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner main-inner" ng-controller="HistoryCtrl">
          <wizard on-finish="updateHistory()">
            <wz-step title="Basic Information">
              <h4>Basic Information</h4>
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">First Name</span>
                  <input type="text" ng-model="historyData.patient.FIRST_NAME">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Last Name</span>
                  <input type="text" ng-model="historyData.patient.LAST_NAME">
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Gender
                  </div>
                  <select ng-model="historyData.patient.GENDER">
                    <option>Choose</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Email</span>
                  <input type="text" ng-model="historyData.patient.EMAIL">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Occupation</span>
                  <input type="text" ng-model="historyData.patient.OCCUPATION">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Address</span>
                  <input type="text" ng-model="historyData.patient.ADDRESS">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">City</span>
                  <input type="text" ng-model="historyData.patient.CITY">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">State</span>
                  <input type="text" ng-model="historyData.patient.STATE">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Country</span>
                  <input type="text" ng-model="historyData.patient.COUNTRY">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Postal Code</span>
                  <input type="text" ng-model="historyData.patient.POSTAL_CODE">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Telephone</span>
                  <input type="text" ng-model="historyData.patient.HOME_PHONE">
                </label>
              </div>
              <input type="button" wz-next="logStep()" value="Next" />
            </wz-step>
            <wz-step title="Planned Hospital">
              <h4>Planned Hospital</h4>
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Name of Hospital</span>
                  <input type="text" ng-model="historyData.hospital.HNAME">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Email</span>
                  <input type="text" ng-model="historyData.hospital.EMAIL">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Address</span>
                  <input type="text" ng-model="historyData.hospital.ADDRESS">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">City</span>
                  <input type="text" ng-model="historyData.hospital.CITY">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">State</span>
                  <input type="text" ng-model="historyData.hospital.STATE">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Country</span>
                  <input type="text" ng-model="historyData.hospital.COUNTRY">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Postal Code</span>
                  <input type="text" ng-model="historyData.hospital.POSTAL_CODE">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Telephone</span>
                  <input type="text" ng-model="historyData.hospital.PHONE">
                </label>
              </div>
              <input type="button" wz-next value="Next" />
            </wz-step>
            <wz-step title="Medical History">
              <h4>Medical History</h4>
              <div class="list">
                <label class="item item-input item-select">
                  <div class="input-label">
                    Hypertension
                  </div>
                  <select ng-model="historyData.patient.RF_HYPER">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Diabetes
                  </div>
                  <select ng-model="historyData.patient.RF_DIABETES">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Previous Uterine Surgery
                  </div>
                  <select ng-model="historyData.patient.RF_PREV_UTER_SURG">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Poor Fetal/Maternal Growth
                  </div>
                  <select ng-model="historyData.patient.RF_PFMG">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Drug use
                  </div>
                  <select ng-model="historyData.patient.RF_DRUG_USE">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Previous Fetal Demise
                  </div>
                  <select ng-model="historyData.patient.RF_PFD">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    STD / STI
                  </div>
                  <select ng-model="historyData.patient.RF_STD_STI">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    HIV
                  </div>
                  <select ng-model="historyData.patient.RF_HIV">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Over 35yrs old
                  </div>
                  <select ng-model="historyData.patient.RF_OVR_35_YOA">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Sickle cell
                  </div>
                  <select ng-model="historyData.patient.RF_SICKLE_CELL">
                    <option>Choose</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Blood Type
                  </div>
                  <select ng-model="historyData.patient.BLOOD_TYPE">
                    <option value="">Choose</option>
                   <option value="A Positive">A Positive</option>
                   <option value="A Negative">A Negative</option>
                   <option value="B Positive">B Positive</option>
                   <option value="B Negative">B Negative</option>
                   <option value="AB Positive">AB Positive</option>
                   <option value="AB Negative">AB Negative</option>
                   <option value="O Positive">O Positive</option>
                   <option value="O Negative">O Negative</option>
                  </select>
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Delivery Type
                  </div>
                  <select ng-model="historyData.patient.DELIVERY_TYPE">
                    <option>Choose</option>
                    <option value="Vaginal">Vaginal</option>
                    <option value="C-Section">C-Section</option>
                  </select>
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">No. of Pregnancies</span>
                  <input type="text" ng-model="historyData.patient.NUM_OF_PREG">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Last Menstral Cycle</span>
                  <div style="margin:20px 0;">
                    <div class="input-group">
                       <input type="text" class="form-control" datepicker-popup="{{format}}"  ng-model="historyData.patient.LAST_MEN_CYCLE" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                       <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                     </div>
                   </div>
                </label>
              </div>
              <input type="button" wz-next value="Next" />
            </wz-step>
            <wz-step title="Finish">
              <h4>Finish</h4>
              <p>Thank you for registering with My Lil' Bundle &trade;</p>
              <input type="button" wz-next value="Finish" />
            </wz-step>
          </wizard>
        </section>
      </div>
    </div>

  </ion-content>
</ion-view>
