<ion-view title="DoulaRoom">
    <ion-content class="has-header" padding="true">
        <h3 style="padding:10px;margin:0;">NearBy <span class="semi-bold">Hospitals</span></h3>

        <div id="google_map" style="width:100%;height:420px;"></div>

    </ion-content>
</ion-view>