<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Over-The-Counter <span class="semi-bold">Medication</span></h3>

    <div style="margin:10px;background-color:#fff;">
      <table class="table no-more-tables">
              <tbody>
                <tr class="oddRow">
                  <td><h4>Problem</h4></td>
                  <td><h4>Safe to take</h4></td>
                </tr>
                <tr>
                  <td><strong>Heartburn, gas and bloating, upset
                      stomach</strong></td>
                  <td>Antacids for heartburn (Maalox, Mylanta, Rolaids,
                    Tums)<br> <br> Simethicone for gas pains (Gas-X,
                    Maalox Anti-Gas, Mylanta Gas, Mylicon)
                  </td>
                </tr>
                <tr>
                  <td><strong>Cough or cold</strong></td>
                  <td>Guaifenesin, an expectorant (Hytuss, Mucinex, Naldecon
                    Senior EX, Robitussin)<br> <br> Dextromethorphan, a
                    cough suppressant (Benylin Adult, Robitussin Maximum Strength
                    Cough, Scot-Tussin DM, Vicks 44 Cough Relief)<br> <br>
                    Guaifenesin plus dextromethorphan (Benylin Expectorant,
                    Robitussin DM, Vicks 44E)<br> <br> Cough drops<br>
                    <br> Vicks VapoRub<br> <br> <strong>
                      Not safe to take:<br> <br> Cold remedies that
                      contain alcohol<br> <br> The decongestants
                      pseudoephedrine and phenylephrine, which can affect blood
                      flow to the placenta
                  </strong>
                  </td>
                </tr>
                <tr>
                  <td><strong>Pain relief, headache, and fever</strong></td>
                  <td>Acetaminophen (Anacin Aspirin-Free, Tylenol)</td>
                </tr>
                <tr>
                  <td><strong>Allergy relief</strong></td>
                  <td>Chlorpheniramine, an antihistamine (Chlor-Trimeton
                    allergy tablets)<br> <br> Loratadine, an
                    antihistamine (Alavert, Claritin, Tavist ND, Triaminic
                    Allerchews)<br> <br> Diphenhydramine, an
                    antihistamine (Banophen, Benadryl, Diphenhist, Genahist)
                  </td>
                </tr>
                <tr>
                  <td><strong>Constipation hemorrhoids, and
                      diarrhea</strong></td>
                  <td>Psyllium (Konsyl-D, Metamucil, Modane Bulk, Perdiem)<br>
                    <br> Polycarbophil (Equalactin, Fiber-Lax, FiberNorm,
                    Konsyl-Fiber, Mitrolan)<br> <br> Methylcellulose
                    (Citrucel, Unifiber)<br> <br> Other laxatives and
                    stool softeners (Colace, Dulcolax, Maltsupex, milk of
                    magnesia)<br> <br> Hemorrhoid creams (Anusol,
                    Preparation H, Tucks)<br> <br> Loperamide,
                    anti-diarrhea medication (Imodium, Kaopectate II, Maalox
                    Anti-Diarrheal, Pepto Diarrhea Control)
                  </td>
                </tr>
                <tr>
                  <td><strong>Yeast infections and other fungal
                      infections such as athlete's foot</strong></td>
                  <td>Clotrimazole (Cruex, Gyne-Lotrimin 3, Lotrimin AF,
                    Mycelex 7)<br> <br> Miconazole (Desenex, Femizol-M,
                    Micatin, Monistat 3)<br> <br> Terbinafine (Lamisil
                    AT)<br> <br> Tioconazole (Monistat 1, Vagistat 1)<br>
                    <br> Butoconazole (Femstat 3, Mycelex 3)<br> <br>
                    Butenafine (Lotrimin Ultra)<br> <br> Tolnaftate
                    (Absorbine Athlete's Foot Cream, Absorbine Footcare, Genaspor,
                    Tinactin)<br> <br> Undecylenic Acid and derivatives
                    (Cruex, Desenex, Fungi Cure, Tinacide)<br> <br> <strong>
                      Not safe to take:<br> Certain antifungal products not
                      listed here<br> (Certain Cruex, Desenex, and Fungi Cure
                      products may contain other antifungal agents not listed here
                      that should not be used during pregnancy. Check labels
                      carefully.)
                  </strong>
                  </td>
                </tr>
                <tr>
                  <td><strong>Insomnia</strong></td>
                  <td>Diphenhydramine (Benadryl, Maximum Strength Unisom
                    SleepGels, Nytol, Sominex)<br> <br> Doxylamine
                    succinate (Unisom Nighttime Sleep-Aid)
                  </td>
                </tr>
                <tr>
                  <td><strong>Itching</strong></td>
                  <td>Hydrocortisone (Cortaid, Lanacort)</td>
                </tr>
                <tr>
                  <td><strong>Cuts and scrapes</strong></td>
                  <td>Polysporin</td>
                </tr>
              </tbody>
            </table>
    </div>

  </ion-content>
</ion-view>
