


<ion-view title="Page Under Construction">

    <!--
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    -->

    <ion-content class="has-header">


               
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <center>
        <div class="content">
            <h1>UNDER CONSTRUCTION !</h1>
            <h3>We are currently working on this page. It will be up and functional shortly.</h3>
        </div>
        </center>


    </ion-content>
</ion-view>

