<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">My <span class="semi-bold">Profile</span></h3>

    <div style="padding:15px;margin:10px;background-color:#fff;">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="profileData.patient.FIRST_NAME">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="profileData.patient.LAST_NAME">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="profileData.patient.EMAIL">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input type="text" ng-model="profileData.patient.ADDRESS">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tel. No.</span>
          <input type="text" ng-model="profileData.patient.HOME_PHONE">
        </label>
      </div>
      <h4>Goals</h4>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Steps</span>
          <input type="number" ng-model="profileData.STEPS.TARGET">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Water Intake</span>
          <input type="number" ng-model="profileData.WATERINTAKE.TARGET">
        </label>
      </div>
    </div>

    <button class="btn btn-primary btn-sm" ng-click="updateProfile()">
      Update
    </button>

  </ion-content>
</ion-view>
