<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true" scroll="false">
    <h3 style="padding:10px;margin:0;">Device Log</h3>

    <div style="padding:15px;margin:10px;background-color:#fff;">
      <ion-scroll>
        <ul>
          <li ng-repeat="info in scanningInfo track by $index">
            {{info}}
            <p ng-repeat="deviceParam in info.deviceData track by $index">
              {{deviceParam}}
            </p>
          </li>
        </ul>
      </ion-scroll>
      <button class="btn btn-block btn-primary" ng-click="stopScan()">Stop Scan</button>
    </div>

  </ion-content>
</ion-view>