<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Pregnancy - <span class="semi-bold">Tracker</span></h3>

    <div class="row responsive-sm">
      <div class="col">
  			<div class="tiles overflow-hidden full-height tiles-overlay-hover m-b-20 widget-item">
  				<div class="controller overlay right">
  					<a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a>
  				</div>
  				<div class="overlayer tiles-overlay auto blue">
  					<div class="overlayer-wrapper  p-t-20 p-l-20 p-r-20 p-b-20">
  						<i class="fa fa-calendar fa-6x"></i>
  						<p class="p-t-20 text-white-opacity">{{today}}</p>
  						<h3 class="text-white">
  							You're now <span class="semi-bold">{{pregnancyTrackerData.pregnancyInWeeks}}</span> wks
  						</h3>
  						<span class="p-t-20"> and <span>{{ 42 - pregnancyTrackerData.pregnancyInWeeks}}</span> weeks until delivery <br /> </span>
  					</div>
  				</div>
  				<div class="overlayer bottom-left fullwidth">
  				</div>
  				<img src="img/others/bump_32_wks.jpg"
  					data-src="img/others/bump_32_wks.jpg"
  					data-src-retina="img/others/bump_32_wks.jpg" alt=""
  					class="image-responsive-width hover-effect-img">
  			</div>
      </div>

      <div class="col">
    		<div class="slide-front ha tiles adjust-text blue">
    			<div class="p-t-20 p-l-20 p-r-20 p-b-20">
    				<h2 class="text-white no-margin">Must-Read <span class="semi-bold">Articles</span></h2>
    				<br />
              <h4 class="text-white" ng-repeat="weeklyAdvice in pregnancyTrackerData.weeklyAdvices">&middot;
                  <a class="text-white" ng-click="openWindow('{{weeklyAdvice.ADVICE_URL}}')" style="text-decoration:none;">
                      {{weeklyAdvice.ADVICE_TITLE}}
                  </a>
              </h4>
          </div>
    		</div>

  			<div class="tiles adjust-text green" style="margin-top:20px;">
  				<div class="p-t-20 p-l-20 p-r-20 p-b-20">
  					<h2 class="text-white no-margin">
  						Just For <span class="semi-bold">YOU</span>
  					</h2>
  					<br />
            <h4 class="text-white" ng-repeat="weeklyArticle in pregnancyTrackerData.weeklyArticles">
              &middot;
                <a class="text-white" ng-click="openWindow('{{weeklyArticle.ARTICLE_URL}}')" style="text-decoration:none;">
                    {{weeklyArticle.ARTICLE_TITLE}}
                </a>
	          </h4>
  				</div>
  			</div>
  		</div>


    </div>

  </ion-content>
</ion-view>
