<div class="modal" style="margin-top:35px;">
  <ion-header-bar>
    <h3 class="title">Update Your Water Intake for   <span class="semi-bold">Today</span></h3>
    <div class="buttons">
        <button class="button button-clear" ng-click="waterIntakeModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Current Intake: </span>
          <input type="number" ng-model="waterData.RESULT" style="border: 0 none;">
      </label>
      <label class="item">
          <button class="btn button-block btn-primary" ng-click="addWaterData()">Add A Glass</button>
      </label>
    </div>
  </ion-content>
</div>
