<div class="modal" style="margin-top:35px;">
  <ion-header-bar>
    <h3 class="title">Did your baby move   <span class="semi-bold">today?</span></h3>
    <div class="buttons">
        <button class="button button-clear" ng-click="movesModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">My baby moved in the last 24 hours </span>
          <input type="hidden" ng-model="movesData.RESULT" value="Yes">
      </label>
      <label class="item">
          <button class="btn button-block btn-primary" ng-click="addMoves()">YES</button>
      </label>
    </div>
  </ion-content>
</div>
