<div class="modal" style="margin-top:35px;">
  <ion-header-bar>
    <h3 class="title">Record Baby <span class="semi-bold">Kicks</span></h3>
    <div class="buttons">
        <button class="button button-clear" ng-click="babyKicksModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
     
        <div id="dTimer">
            <ul class="countdown" id="realTimer">

                <li>
                    <span class="hours">00</span>
                    <p class="hours_ref">hours</p>
                </li>
                <li class="seperator">:</li>
                <li>
                    <span class="minutes">00</span>
                    <p class="minutes_ref">mins</p>
                </li>
                <li class="seperator">:</li>
                <li>
                    <span class="seconds">00</span>
                    <p class="seconds_ref">secs</p>
                </li>
            </ul>


        </div>
        <input type="text" name="babyKicks" id="babyKicks" class="form-control" ng-model="kicksData.RESULT">
      <label class="item">
          <button class="btn button-block btn-primary" ng-click="addKicks()">Add Kick</button>
      </label>
    </div>
  </ion-content>
</div>
<script>
    

  

    
</script>
