<div class="modal" style="margin-top:35px;">
  <ion-header-bar>
    <h3 class="title">Galleries  <span class="semi-bold">Add</span></h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="addModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Category Name</span>
        <input type="text" ng-model="newGallery.CATEGORYNAME" style="border: 0 none;">
      </label>
      <label class="item">
        <button class="btn button-block btn-primary" ng-click="addGallery()">Add</button>
      </label>
    </div>
  </ion-content>
</div>
