<div class="modal">
  <ion-header-bar>
    <h3 class="title">Paired Devices</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="pairedDevicesModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <div class="item" ng-repeat="device in devices">
        <h4>{{deviceType(device.sensorType)}}&nbsp;&nbsp;({{device.sensorName}})</h4>
      </div>
    </div>
  </ion-content>
</div>
