/* Empty. Add your own CSS if you like */

/*.matern-app .has-header {
  top: 60px;
}

.matern-app .menu {
  background-color: #1b1e24;
}

.matern-app .bar {
  padding: 13px 0px;
  height: 60px;
}

.matern-app .bar .title {
  height: 60px;
  line-height: 60px;
}

.matern-app .bar.bar-webarch {
  border-color: #22262e;
  background-color: #22262e;
  background-image: none;
  color: #fff;
}

.bar.bar-webarch h1.title, .bar.bar-webarch .back-button, .bar.bar-webarch .button-icon {
    color: #FFF;
}

body, .view, .pane {
  background-color: #e5e9ec;
  color: #6f7b8a;
  font-family: 'Arial';
  font-size: 13px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  height: 100%;
}

.tiles-body {
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 18px;
  padding-top: 19px;
  line-height: 19.5px;
}

.tiles-title {
  color: #1b1e24;
  display: block;
  font-family: 'Open Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  height: 16px;
  letter-spacing: 0.5px;
  line-height: 15.75px;
  text-transform: uppercase;
}


.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a {
  color: #8b91a0;
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 11.5px 31px 11.5px 31px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}

.bar.bar-webarch h1.title.sidebar-menu-title {
  color: #8b91a0;
  text-transform: uppercase;
}

.nav>li>a:hover {
  color: #fff;
}*/

.file-input-wrapper {
width:100px;
height:36px;
overflow:hidden;
position:relative;
}

.file-input-wrapper > input[type="file"] {
font-size:100px;
position:absolute;
top:0;
right:0;
opacity:0;
cursor:pointer;
}

.file-input-wrapper > .btn-file-input {
display:inline-block;
width:100px;
height:36px;
}

.file-input-wrapper .btn-file-input {
font-size:14px;
}

body,.view,.pane {
background-color:#e5e9ec;
color:#6f7b8a;
}

.bar.bar-stable {
background-color:#22262e;
background-image:none;
color:#fff;
border-color:#22262e;
}

.bar.bar-stable h1.title,.bar.bar-stable .back-button,.bar.bar-stable .button-icon {
color:#FFF;
}

.menu-left {
background-color:#1b1e24;
}

.menu-left .card {
border-color:transparent;
}

.menu-left h1.title {
font-size:18px;
font-weight:normall;
}

.nav,.pagination,.carousel,.panel-title a,a {
cursor:pointer;
}

ul.countdown {
list-style:none;
display:block;
text-align:center;
padding:0;
}

ul.countdown li {
display:inline-block;
}

ul.countdown li span {
font-size:3em;
font-weight:300;
line-height:3em;
}

ul.countdown li.seperator {
font-size:3em;
line-height:110px;
vertical-align:top;
}

ul.countdown li p {
color:#a7abb1;
font-size:14px;
}

flotchart {
display:block;
width:100%;
height:350px;
}

ion-scroll {
width:100%;
height:350px;
margin-bottom:15px;
}